{% extends index.html %}
{% block content %}

 <!--
    <main class="flex">
            <!-- Loads latest videos total of 8
            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>

            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>

            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>

            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>
            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>

            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>

            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>

            <div class="flex-item">
                <h2>TITLE</h2>
                <img src="{{ url_for('static', filename= 'media/GXTV.png') }}" alt="GXTV logo">
            </div>
    </main>




{% endblock %}